body {
    text-align: center;
    background: #383838;
    color:white;
    padding-top: 50px;
}

@media (max-width: 470px) {
    body{
        padding-top: 100px;
    }
}

.header {
    position: fixed;
    top:0;
    width: 100%;
    background-color: #282828;
}

.header div {
    background-color: #202020;
    padding: 10px;

    
    vertical-align: middle;
    border-left:white solid 1px;
    border-right:white solid 1px;
    float: left;
}

.header div a{
    text-decoration: none;
    color:#e0e0e0;
}

.header .active {
    background: #101010;
}

.header .active a{
    color: #ff4040;
    pointer-events: none;
}

.header a:hover {
    background-color: #383838;
}

.header a:active {
    background: #303030;
}

p {
    max-width: 600px;
    margin-left:auto;
    margin-right:auto;
} 

a{
    color:white;
}

