body {
    text-align: center;
    background: #383838;
    color:white;
    padding-top: 60px;
}

@media (max-width: 530px) {
    body{
        padding-top: 110px;
    }
}

.header {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    background-color: #282828;
}

.header img {
    float:right;
    height: 50px;
    width: 50px;
    margin-right: 20px;
}

.header div {
    background-color: #202020;
    padding: 10px;

    
    vertical-align: middle;
    border-left:white solid 1px;
    border-right:white solid 1px;
    float: left;
}

.header div a{
    text-decoration: none;
    color:#e0e0e0;
}

.header .active {
    background: #101010;
}

.header .active a{
    color: #ff4040;
    pointer-events: none;
}

.header a:hover {
    background-color: #383838;
}

.header a:active {
    background: #303030;
}

p {
    max-width: 600px;
    margin-left:auto;
    margin-right:auto;
} 

a{
    color:white;
}

.license input[type=submit]{
    margin-top: 5px;
    padding: 8px;
    background-color: #202020;
    color:white;
    border:solid 1px white;
    border-radius: 5px;
}

.license input[type=submit]:disabled {
    background-color: #505050;
    color: #a0a0a0;
}

dialog {
    color: white;
    position: fixed;
    bottom:0;
    right:0;
    margin-right: 0;
}

button{
    background: #404040;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-bottom: 6px;
}

ul{
    align-self: center;
    max-width: 600px;
    width: fit-content;
    text-align: left;
    margin-left:auto;
    margin-right: auto;
}

